*{
	margin:0;
	margin:0;
	font-family:'Raleway';
}

.container{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgb(26, 24, 24),rgb(24, 23, 23));
	background-position: center;
	background-size: cover;
	padding-left:8%;
	padding-right:8%;
	box-sizing:border-box;
}

.navbar{
	height:15%;
	display: flex;
	align-items:center; 
}

/* Logo Beginning */

.logo img{ 
	width:30px;
	cursor:pointer;
}


/* Logo Ending */


/* Header Tags beginning */
nav{
	flex:1;
	text-align:right;

}


nav ul li{
	list-style:none;
	display:inline-block;
	margin-left:60px;
}

nav ul li{
	text-decoration:none;
	COLOR:#fff;
	font-size:20px;
}
.row{
	display:flex;
	height:88%;
	align-items:center;
}
/* Header Tags End */

/* Main Heading */
.col{
	flex-basis: 50%;
}
h1{
	color:#fff;
	font-size:75px;
}

h2{
	color:rgb(238, 228, 228);
	font-size: 30px;
}
/* Main Heading End */


/* 4 main categories Description beginning */
p{
	color:rgb(235, 225, 225);
	font-size:11px;
	line-height:15px;
}
/*4 main categories Description end  */

/* Explore Button Beginning */
button{
	width:180px;
	color:rgb(15, 15, 15);
	font-size:12px;
	padding:12px 0;
	background:#fff;
	border:0;
	border-radius:20px;
	outline:none;
	margin-top:30px;
}
/* Explore button End */

/* 4 Categories Beginning */
.card{
	width:200px;
	height:230px;
	display:inline-block;
	border-radius:10px;
	padding:15px 25px;
	box-sizing:border-box;
	cursor:pointer;
	margin:10px 15px;
	background-position: center;
	background-size:cover;
	transition:transform 0.5;
}
.card1{
background-image: url(images/soccer.jpeg);
}
.card2{
background-image: url(images/concert.jpg);
}
.card3{
background-image: url(images/cool.jpg);
}
.card4{
background-image: url(images/liberty.jpg);
}

.card:hover{
	transform:translateY(-10px);
}

h5{
	color:#fff;
	text-shadow:0 0 5px #999;
}
.card p{
	text-shadow:0 0 5px #000;
	font-size:14px;
}
 /* 4 Main Categories end */
